#root {
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #718096;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #cbd5e0;
}
